In [2]:
import numpy as np
import pandas as pd
from IPython.core.display import display
import time

In [3]:
def question_confusion_matrix():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 100, size=(len(labels), len(labels)))
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)
    i,j = np.random.randint(0, len(labels), size=2)
    answer = input(f"How many {labels[i]} are classified as {labels[j]}?  ")
    correct = df.iloc[i,j]
    if int(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False

def question_binary_class(i=0):
    names = ["True Negatives", "False Positives", "False Negatives", "True Positives"]
    data = np.random.randint(0, 100, 4)
    df = pd.DataFrame(data.reshape(2,2), index=[False, True], columns=[False, True])
    print("Confusion Matrix:")
    display(df)
    answer = input(f"How many {names[i]} are there?  ")
    correct = data[i]
    if int(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False
    
score = 0

for i in range(3):
    score += int(question_confusion_matrix())
    print("\n")

questions = np.arange(4)
np.random.shuffle(questions)
for i in questions:
    score += int(question_binary_class(i))
    print("\n")

print(f"You got {score} of 7 correct.")

Confusion Matrix:

         apples  oranges  bananas
apples       62       10        9
oranges      88       13       12
bananas      70       44       98

How many apples are classified as apples?  62
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples       87        3       64
oranges      94       74       40
bananas       1       47       25

How many oranges are classified as apples?  94
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        4       14       23
oranges      95       60       14
bananas      42       11       90

How many apples are classified as apples?  4
Good job!


Confusion Matrix:

       False  True
False     52     58
True      11      6

How many False Negatives are there?  58
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Actually, the answer is 11
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


Confusion Matrix:

       False  True
False     88     47
True      45     78

How many True Negatives are there?  88
Good job!


Confusion Matrix:

       False  True
False     37      4
True      59     29

How many False Positives are there?  4
Good job!


Confusion Matrix:

       False  True
False     39     31
True       4     97

How many True Positives are there?  97
Good job!


You got 6 of 7 correct.

In [4]:
def question_recall():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 6, size=(len(labels), len(labels)))
    i = np.random.randint(0, len(labels))
    data[i,i] = 0
    data[i,i] = 10 - data[i,:].sum()
    data *= np.random.randint(1,3)
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)    
    answer = input(f"What is the recall for {labels[i]}?  ")
    correct = (data[i,i] / data[i,:].sum()).round(1)
    if float(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False
    
def question_precision():
    labels = ["apples", "oranges", "bananas"]
    data = np.random.randint(0, 6, size=(len(labels), len(labels)))
    i = np.random.randint(0, len(labels))
    data[i,i] = 0
    data[i,i] = 10 - data[:,i].sum()
    data *= np.random.randint(1,3)
    df = pd.DataFrame(data, index=labels, columns=labels)
    print("Confusion Matrix:")
    display(df)
    answer = input(f"What is the precision for {labels[i]}?  ")
    correct = (data[i,i] / data[:,i].sum()).round(1)
    if float(answer) == correct:
        print("Good job!")
        return True
    else:
        print("!"*40)
        print(f"Actually, the answer is {correct}")
        print("!"*40)
        time.sleep(2.5)
        return False

score = 0

for i in range(3):
    score += int(question_recall())
    print("\n")
    score += int(question_precision())
    print("\n")

print(f"You got {score} of 6 correct.")

Confusion Matrix:

         apples  oranges  bananas
apples        8        6        6
oranges       0        8        0
bananas       8        8        2

What is the recall for apples?  0.4
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        4        4       10
oranges       2        6       10
bananas       4        8        0

What is the precision for bananas?  0.5
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Actually, the answer is 0.0
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!


Confusion Matrix:

         apples  oranges  bananas
apples        3        0        0
oranges       0        5        2
bananas       0        2        8

What is the recall for bananas?  0.8
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        0        1        0
oranges       2        2        4
bananas       0        0        6

What is the precision for bananas?  0.6
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        1        5        4
oranges       4        5        1
bananas       2        0        4

What is the recall for oranges?  0.5
Good job!


Confusion Matrix:

         apples  oranges  bananas
apples        2        4       10
oranges       4        4        8
bananas       2        4        2

What is the precision for bananas?  0.1
Good job!


You got 5 of 6 correct.