In [1]:
from zipfile import ZipFile

In [2]:
with ZipFile('mmt_gtfs.zip') as zf:
    for info in zf.infolist():
        print(info)

<ZipInfo filename='agency.txt' compress_type=deflate external_attr=0x20 file_size=363 compress_size=204>
<ZipInfo filename='calendar.txt' compress_type=deflate external_attr=0x20 file_size=2450 compress_size=400>
<ZipInfo filename='calendar_dates.txt' compress_type=deflate external_attr=0x20 file_size=3988 compress_size=602>
<ZipInfo filename='extended_data_dictionary.txt' compress_type=deflate external_attr=0x20 file_size=6546 compress_size=2221>
<ZipInfo filename='fare_attributes.txt' compress_type=deflate external_attr=0x20 file_size=126 compress_size=99>
<ZipInfo filename='fare_rules.txt' compress_type=deflate external_attr=0x20 file_size=1024 compress_size=253>
<ZipInfo filename='feed_info.txt' compress_type=deflate external_attr=0x20 file_size=298 compress_size=178>
<ZipInfo filename='linked_datasets.txt' compress_type=deflate external_attr=0x20 file_size=251 compress_size=128>
<ZipInfo filename='routes.txt' compress_type=deflate external_attr=0x20 file_size=33156 compress_size=2952>
<ZipInfo filename='shapes.txt' compress_type=deflate external_attr=0x20 file_size=10341920 compress_size=2291431>
<ZipInfo filename='stop_features.txt' compress_type=deflate external_attr=0x20 file_size=9566 compress_size=2388>
<ZipInfo filename='stop_times.txt' compress_type=deflate external_attr=0x20 file_size=36909825 compress_size=5712510>
<ZipInfo filename='stops.txt' compress_type=deflate external_attr=0x20 file_size=401411 compress_size=89220>
<ZipInfo filename='terms_of_use.txt' compress_type=deflate external_attr=0x20 file_size=5993 compress_size=2491>
<ZipInfo filename='transfers.txt' compress_type=deflate external_attr=0x20 file_size=480 compress_size=200>
<ZipInfo filename='translations.txt' compress_type=deflate external_attr=0x20 file_size=9863 compress_size=666>
<ZipInfo filename='trips.txt' compress_type=deflate external_attr=0x20 file_size=1399179 compress_size=167219>

In [3]:
with ZipFile('mmt_gtfs.zip') as zf:
    for info in zf.infolist():
        orig_mb = info.file_size / (1024**2) # there are 1024**2 bytes in a MB
        ratio = info.file_size / info.compress_size
        s = "file {name:s}, {mb:.3f} MB (uncompressed), {ratio:.1f} compression ratio"
        print(s.format(name=info.filename, mb=orig_mb, ratio=ratio))

file agency.txt, 0.000 MB (uncompressed), 1.8 compression ratio
file calendar.txt, 0.002 MB (uncompressed), 6.1 compression ratio
file calendar_dates.txt, 0.004 MB (uncompressed), 6.6 compression ratio
file extended_data_dictionary.txt, 0.006 MB (uncompressed), 2.9 compression ratio
file fare_attributes.txt, 0.000 MB (uncompressed), 1.3 compression ratio
file fare_rules.txt, 0.001 MB (uncompressed), 4.0 compression ratio
file feed_info.txt, 0.000 MB (uncompressed), 1.7 compression ratio
file linked_datasets.txt, 0.000 MB (uncompressed), 2.0 compression ratio
file routes.txt, 0.032 MB (uncompressed), 11.2 compression ratio
file shapes.txt, 9.863 MB (uncompressed), 4.5 compression ratio
file stop_features.txt, 0.009 MB (uncompressed), 4.0 compression ratio
file stop_times.txt, 35.200 MB (uncompressed), 6.5 compression ratio
file stops.txt, 0.383 MB (uncompressed), 4.5 compression ratio
file terms_of_use.txt, 0.006 MB (uncompressed), 2.4 compression ratio
file transfers.txt, 0.000 MB (uncompressed), 2.4 compression ratio
file translations.txt, 0.009 MB (uncompressed), 14.8 compression ratio
file trips.txt, 1.334 MB (uncompressed), 8.4 compression ratio

In [4]:
with ZipFile('mmt_gtfs.zip') as zf:
    orig_mb = 0
    compress_mb = 0
    for info in zf.infolist():
        orig_mb = orig_mb + info.file_size / (1024**2) # there are 1024**2 bytes in a MB
        compress_mb = compress_mb + info.compress_size / (1024**2)
    ratio = orig_mb / compress_mb
    s = "file {name:s}, {mb:.3f} MB (uncompressed), {ratio:.1f} compression ratio"
    print(s.format(name='mmt_gtfs.zip', mb=orig_mb, ratio=ratio))

file mmt_gtfs.zip, 46.851 MB (uncompressed), 5.9 compression ratio

In [5]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("calendar.txt") as f:
        print(f.read())

b'service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date\r\n88_D24,December 24,0,0,0,0,0,0,0,20191201,20200229\r\n88_D31,December 31,0,0,0,0,0,0,0,20191201,20200229\r\n88_HOL,Holiday,0,0,0,0,0,0,0,20191201,20200229\r\n88_MWK,Modified,0,0,0,0,0,0,0,20191201,20200229\r\n88_MWK:R,Recess Modified,0,0,0,0,0,0,0,20191201,20200229\r\n88_SAT,Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SAT:R,Recess Saturday,0,0,0,0,0,0,0,20191201,20200229\r\n88_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20191201,20200229\r\n88_SUN,Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_SUN:L,Latenight Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_SUN:R,Recess Sunday,0,0,0,0,0,0,0,20191201,20200229\r\n88_SUN:S,Standard Sunday,0,0,0,0,0,0,1,20191201,20200229\r\n88_WKD,Weekday,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:G,Weekday Extra,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:L#6,Latenight Mon-Thu,1,1,1,1,0,0,0,20191201,20200229\r\n88_WKD:L=6,Latenight Fri only,0,0,0,0,1,0,0,20191201,20200229\r\n88_WKD:R,Recess Weekday,0,0,0,0,0,0,0,20191201,20200229\r\n88_WKD:S,Standard Weekday,1,1,1,1,1,0,0,20191201,20200229\r\n88_WKD:S#6,Standard Mon-Thu,1,1,1,1,0,0,0,20191201,20200229\r\n88_WKD:S=6,Standard Fri only,0,0,0,0,1,0,0,20191201,20200229\r\n89_D24,December 24,0,0,0,0,0,0,0,20200301,20200509\r\n89_D31,December 31,0,0,0,0,0,0,0,20200301,20200509\r\n89_HOL,Holiday,0,0,0,0,0,0,0,20200301,20200509\r\n89_MWK,Modified,0,0,0,0,0,0,0,20200301,20200509\r\n89_MWK:R,Recess Modified,0,0,0,0,0,0,0,20200301,20200509\r\n89_SAT,Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SAT:R,Recess Saturday,0,0,0,0,0,0,0,20200301,20200509\r\n89_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20200301,20200509\r\n89_SUN,Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_SUN:L,Latenight Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_SUN:R,Recess Sunday,0,0,0,0,0,0,0,20200301,20200509\r\n89_SUN:S,Standard Sunday,0,0,0,0,0,0,1,20200301,20200509\r\n89_WKD,Weekday,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:G,Weekday Extra,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:L#6,Latenight Mon-Thu,1,1,1,1,0,0,0,20200301,20200509\r\n89_WKD:L=6,Latenight Fri only,0,0,0,0,1,0,0,20200301,20200509\r\n89_WKD:R,Recess Weekday,0,0,0,0,0,0,0,20200301,20200509\r\n89_WKD:S,Standard Weekday,1,1,1,1,1,0,0,20200301,20200509\r\n89_WKD:S#6,Standard Mon-Thu,1,1,1,1,0,0,0,20200301,20200509\r\n89_WKD:S=6,Standard Fri only,0,0,0,0,1,0,0,20200301,20200509'

In [6]:
import pandas as pd

with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("calendar.txt") as f:
        df = pd.read_csv(f)

df.head()

,service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,88_D24,December 24,0,0,0,0,0,0,0,20191201,20200229
1,88_D31,December 31,0,0,0,0,0,0,0,20191201,20200229
2,88_HOL,Holiday,0,0,0,0,0,0,0,20191201,20200229
3,88_MWK,Modified,0,0,0,0,0,0,0,20191201,20200229
4,88_MWK:R,Recess Modified,0,0,0,0,0,0,0,20191201,20200229

In [7]:
df[df["saturday"] == 1]

,service_id,service_name,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
5,88_SAT,Saturday,0,0,0,0,0,1,0,20191201,20200229
6,88_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20191201,20200229
8,88_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20191201,20200229
26,89_SAT,Saturday,0,0,0,0,0,1,0,20200301,20200509
27,89_SAT:L,Latenight Saturday,0,0,0,0,0,1,0,20200301,20200509
29,89_SAT:S,Standard Saturday,0,0,0,0,0,1,0,20200301,20200509

In [8]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("routes.txt") as f:
        df = pd.read_csv(f)

df

,route_id,service_id,agency_id,route_short_name,route_long_name,route_service_name,route_desc,route_type,route_url,route_color,route_text_color,bikes_allowed
0,8541,88,MMT,1,NaN,OLD UNIV:CAP SQR,Weekday schedule trips operate regularly every...,3,http://www.cityofmadison.com/metro/routes-sche...,E3D23E,000000,1
1,8542,88,MMT,2,NaN,WEST TP:NORTH TP,Daily schedule trips operate regularly at leas...,3,http://www.cityofmadison.com/metro/routes-sche...,981F66,FFFFFF,1
2,8543,88,MMT,3,NaN,WEST TP:EAST TP,Weekday schedule trips operate regularly every...,3,http://www.cityofmadison.com/metro/routes-sche...,CD8382,000000,1
3,8544,88,MMT,4,NaN,SOUTH TP:NORTH TP,Weekday schedule trips operate regularly every...,3,http://www.cityofmadison.com/metro/routes-sche...,42784D,000000,1
4,8545,88,MMT,5,NaN,SOUTH TP:EAST TP,Weekday schedule trips operate regularly every...,3,http://www.cityofmadison.com/metro/routes-sche...,B46A5B,000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
121,8761,89,MMT,78,NaN,MIDDLTON:WEST TP,Saturday schedule trips operate regularly ever...,3,http://www.cityofmadison.com/metro/routes-sche...,365AA6,FFFFFF,1
122,8762,89,MMT,80,NaN,EAGLE HT:UW UNION,Daily schedule trips operate at least every 60...,3,http://www.cityofmadison.com/metro/routes-sche...,B33927,000000,1
123,8763,89,MMT,81,NaN,OBSRVTRY/JOHNSON:UNION,Daily schedule trips operate regularly every 3...,3,http://www.cityofmadison.com/metro/routes-sche...,DD9139,000000,1
124,8764,89,MMT,82,NaN,BREESE/W WASH:UNION,Daily schedule trips operate regularly every 3...,3,http://www.cityofmadison.com/metro/routes-sche...,3F6AB2,000000,1
125,8765,89,MMT,84,NaN,EAGLE HT:U CAMPUS,Weekday schedule trips operate at least every ...,3,http://www.cityofmadison.com/metro/routes-sche...,60348E,000000,1

In [9]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("stops.txt") as f:
        df = pd.read_csv(f)

df

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,agency_id,jurisdiction_id,location_type,parent_station,relative_position,cardinal_direction,wheelchair_boarding,primary_street,address_range,cross_location
0,1110,1110,E Dayton & Wisconsin (WB),This EVENT/DETOUR ONLY stop (#1110) is westbou...,43.076428,-89.385920,MMT,CMAD,0,NaN,3,270.0,1,E Dayton,2,Wisconsin
1,1111,1111,W Doty & M L K Junior (EB),This EVENT/DETOUR ONLY stop (#1111) is eastbou...,43.072938,-89.382354,MMT,CMAD,0,NaN,3,90.0,1,W Doty,1,M L K Junior
2,1124,1124,S Fairchild & W Main (SB),This EVENT/DETOUR ONLY stop (#1124) is southbo...,43.072467,-89.385273,MMT,CMAD,0,NaN,3,180.0,1,S Fairchild,98,W Main
3,1135,1135,N Webster & E Mifflin (NB),This EVENT/DETOUR ONLY stop (#1135) is northbo...,43.077272,-89.383413,MMT,CMAD,0,NaN,1,0.0,1,N Webster,101,E Mifflin
4,1140,1140,E Washington & N Webster (WB),This EVENT/DETOUR ONLY stop (#1140) is westbou...,43.076390,-89.381930,MMT,CMAD,0,NaN,3,270.0,1,E Washington,200,N Webster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2151,9975,9975,Continental & E Washington (NB),This stop (#9975) is northbound on the 1901 bl...,43.126956,-89.310864,MMT,CMAD,0,NaN,1,0.0,1,Continental,1901,E Washington
2152,9977,9977,Forest Run & Hayes (EB),This stop (#9977) is eastbound on the 4899 blo...,43.137915,-89.300516,MMT,CMAD,0,NaN,3,90.0,1,Forest Run,4899,Hayes
2153,9984,9984,E Washington & Lien (WB),This stop (#9984) is westbound on the 3898 blo...,43.121250,-89.318323,MMT,CMAD,0,NaN,1,270.0,1,E Washington,3898,Lien
2154,9993,9993,E Washington N & 4810 (EB),This stop (#9993) is eastbound on the 4810 blo...,43.133385,-89.301303,MMT,CMAD,0,NaN,4,90.0,1,E Washington N,4810,4810
2155,9996,9996,Eagan & East Towne (SB),This stop (#9996) is southbound on the 1748 bl...,43.124886,-89.309002,MMT,CMAD,0,NaN,1,180.0,1,Eagan,1748,East Towne

In [10]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("trips.txt") as f:
        df = pd.read_csv(f)

df

,route_id,route_short_name,service_id,trip_id,trip_headsign,direction_id,direction_name,block_id,shape_id,shape_code,trip_type,trip_sort,wheelchair_accessible,bikes_allowed
0,8541,1,88_WKD,904927,CAPITOL SQUARE,0,Capitol Square,185696,52334,1E,NaN,35760,1,1
1,8541,1,88_WKD,904928,CAPITOL SQUARE,0,Capitol Square,185697,52334,1E,NaN,39360,1,1
2,8541,1,88_WKD,904929,CAPITOL SQUARE,0,Capitol Square,185696,52334,1E,NaN,42960,1,1
3,8541,1,88_WKD,904930,CAPITOL SQUARE,0,Capitol Square,185697,52334,1E,NaN,46560,1,1
4,8541,1,88_WKD,904931,CAPITOL SQUARE,0,Capitol Square,185696,52334,1E,NaN,50160,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14738,8738,38,89_WKD:G,933199,TO U.W. HOSPITAL: VIA WILSON,1,Sheboygan Av.,188172,53493,d38w,G,29580,1,1
14739,8738,38,89_WKD:G,933200,TO U.W. HOSPITAL: VIA WILSON,1,Sheboygan Av.,188453,53493,d38w,G,30540,1,1
14740,8738,38,89_WKD:G,933201,TO U.W. HOSPITAL: VIA WILSON,1,Sheboygan Av.,188451,53493,d38w,G,31440,1,1
14741,8738,38,89_WKD:G,933202,TO U.W. HOSPITAL: VIA WILSON,1,Sheboygan Av.,188445,53493,d38w,G,32460,1,1
14742,8738,38,89_WKD:G,933203,TO U.W. HOSPITAL: VIA WILSON,1,Sheboygan Av.,188171,53493,d38w,G,33360,1,1

In [11]:
with ZipFile('mmt_gtfs.zip') as zf:
    with zf.open("stop_times.txt") as f:
        df = pd.read_csv(f)

df

,trip_id,stop_sequence,stop_id,pickup_type,drop_off_type,arrival_time,departure_time,timepoint,stop_headsign,shape_dist_traveled
0,904927,1,2561,0,1,9:56:00,9:56:00,1,CAPITOL SQUARE,0.0210
1,904927,2,2605,0,0,9:56:55,9:56:55,0,CAPITOL SQUARE,0.1979
2,904927,3,2717,0,0,9:57:51,9:57:51,0,CAPITOL SQUARE,0.3775
3,904927,4,2921,0,0,9:58:51,9:58:51,0,CAPITOL SQUARE,0.5692
4,904927,5,133,0,0,10:00:00,10:00:00,1,CAPITOL SQUARE,0.7875
...,...,...,...,...,...,...,...,...,...,...
533345,928730,16,2393,0,0,11:55:41,11:55:41,0,TO U.W. HOSPITAL,2.3926
533346,928730,17,2125,0,0,11:56:43,11:56:43,0,TO U.W. HOSPITAL,2.6340
533347,928730,18,2620,0,0,11:57:18,11:57:18,0,TO U.W. HOSPITAL,2.7731
533348,928730,19,2770,1,0,11:58:00,11:58:00,1,DROP OFFS ONLY,2.9199
533349,928730,20,2576,1,0,11:59:06,11:59:06,0,DROP OFFS ONLY,3.1779